@import "fonts.styl"
gris_oscuro = #333333
gris_claro = #818181
gris_mas_claro = #F0F0F0
naranja_oscuro = #ff7709
verde_success = #43ac6a


body
	font-size 16px
	font-family: 'montserratregular', sans-serif
	background gris_claro

.slide
	background white
	width 40em
	margin 0 auto
	text-aling center
	padding 4em 7em
	position relative
	top -2em
	box-shadow: 10px 10px 5px gris_oscuro


.title
	text-aling center
	margin 0 auto
	position relative
	left 0%
	h1
		width 110%

.logo
	width 60%
	margin 0 auto
	img
		width 100%
.footer
	border-top 1px solid gris_claro
	margin-top 10em
	width 100%
	a
		padding 1em
		position relative
		top 1em
		color blue

.parrafo
	font-size 1.2em

.why
	float right
	font-size 3em

.logoDjangoPython
	width 30%
	text-aling center
	position relative
	left 30%
	img
		width 100%
.bigTitle
	margin-left 2em
	text-transform uppercase